:root {
    /* COLORS */
    --primary-color: hsl(221, 39%, 11%);
    --secondary-color: hsl(220, 9%, 46%);
    --white-color: hsl(0, 0%, 100%);
    --close-color: hsl(218, 11%, 65%);
    --light-gray-color: hsl(220, 14%, 96%);
    --dark-gray-color: hsl(217, 19%, 27%);

    --success-color-background: hsl(141, 84%, 93%);
    --success-color-text: hsl(142, 76%, 36%);

    --warning-color-background: hsl(48, 96%, 89%);
    --warning-color-text: hsl(32, 95%, 44%);

    --error-color-background: hsl(0, 93%, 94%);
    --error-color-text: hsl(0, 72%, 51%);

    --info-color-background: hsl(214, 95%, 93%);
    --info-color-text: hsl(221, 83%, 53%);

    /* BACKGROUNDS */
    --background-color: hsl(220, 43%, 97%);
    --background-color-toast: hsla(0, 0%, 100%, 0.961);

    /* WEIGHTS */
    --font-weight-bold: 800;
    --font-weight-semibold: 600;
    --font-weight-normal: 400;

}

/* BASE */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    min-height: 100vh;
    font-family: "Segoe UI", sans-serif;
    color: var(--primary-color);
    background: var(--background-color);
}